<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routeLinkActive="active" routerLink="../dashboard">Dashboard</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="../listuser">User List</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="../logout">Logout</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="../change_image"><img src="assets/image/{{(loginUserImage !=='null' && loginUserImage !=='')? loginUserImage : 'default.png'}}" height="30" width="40" class="img-circle">
        </a>
      </li>
      <li><a>{{(loginUserName !=='null' && loginUserName !=='')? loginUserName : 'Default User'}}</a></li>
    </ul>
  </nav>
  <!-- <router-outlet></router-outlet> -->
</div>